[Unit]
Description=Supercollider service
After=basic.target

[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=3
ExecStart=/usr/sbin/launch_supercollider.sh

[Install]
WantedBy=multi-user.target
